<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Recrutement</title>
    <meta name="description" content="">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="stylesheets/main.css" rel="stylesheet">
</head>
<body class="vh-100 row">
    <%- include('partials/header.ejs', {boutonAccueil: true}) %>
  <div class="row m-0 vh-100">
    <%- include('partials/navbar.ejs',{nav: 1}) %>
    <div class="col-11 p-0">
        <form class="container-block m-3 align-items-center border border-secondary row p-3" method="get" action="">
            <input type="search" class="form-control" name="search" id="recherche" placeholder="Recherche">
        </form>
        <%var user, taille=users.length;%>
        <%var limit=1;%>
        <% for (var i=(page-1)*limit; i < page*limit && i < taille; i++){ %>
            <%user=users[i]%>
        <div class="container-block border border-secondary m-3">
            <div class="container-block ">
                <form class="m-3 align-items-center row" method="post" action="">
                    <div class="col-10">
                        <input type="email" class="form-control d-none" name="utilisateur_id_email"  readonly value="<%= user.email%>">
                        <div class="row">
                            <label for="prenom" class="col-sm-2 col-form-label">Prenom :</label>
                            <div class="col-sm-4">
                                <input type="prenom" class="form-control" name="utilisateur_prenom" value="<%= user.prenom%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="nom" class="col-sm-2 col-form-label">Nom :</label>
                            <div class="col-sm-4">
                                <input type="prenom" class="form-control" name="utilisateur_nom" value="<%= user.nom%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="email" class="col-sm-2 col-form-label">Email :</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="utilisateur_email" value="<%= user.email%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="numtel" class="col-sm-2 col-form-label">Tel :</label>
                            <div class="col-sm-9">
                                <input type="numtel" class="form-control" name="utilisateur_numtel" value="<%= user.numtel%>">
                            </div>
                        </div>
                        <span>Date de creation : <%=moment(user.date_creation).format('DD/MM/YYYY');%><br></span>
                        <div class="row">
                            <label for="type" class="col-sm-2 col-form-label">Type :</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="utilisateur_type">
                                    <option value="candidat"<% if(user.type_compte == 'candidat') { %> selected <% } %> >Candidat</option>
                                    <option value="recruteur"<% if(user.type_compte == 'recruteur') { %> selected <% } %> >Recruteur</option>
                                    <option value="administrateur"<% if(user.type_compte == 'administrateur') { %> selected <% } %> >Administrateur</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" >Statut :</label>
                              </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="utilisateur_actif" value="1" <% if (user.compte_actif == 1) {%>checked<%}%> >
                                <label class="form-check-label" >Actif</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="utilisateur_actif" value="0" <% if (user.compte_actif != 1) {%>checked<%}%> >
                                <label class="form-check-label" >Inactif</label>
                              </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="submit" formaction="/utilisateurs/editUtilisateur" class="btn btn-primary active rounded-1 ">Modifer</button>
                    </div>
                    <div class="col-1">
                        <button type="submit" formaction="/utilisateurs/supprimerUtilisateur" class="btn btn-primary active rounded-1 ">Supprimer</button>
                    </div>
                </form>
                
            </div>


        </div>
        <% }; %>
        <div class="btn-toolbar position-absolute start-50 translate-middle-x" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <% if(page != 1 && taille != 0) {%>
                    <a href="/administrateur?page=<%=Number(page)-1%>&search=<%=search%>" class="btn btn-primary"><</a>
                <%};%>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <% for (i=Number(page)-2; (i <= Math.ceil(taille/limit) && i <= Number(page)+2);i++ ) {%>
                    <% if(i>0) {%>
                        <% if(i==Number(page)) {%>
                            <a href="/administrateur?page=<%=i%>&search=<%=search%>" class="btn btn-secondary"><%=i%></a>   
                        <%} else {%>
                            <a href="/administrateur?page=<%=i%>&search=<%=search%>" class="btn btn-primary"><%=i%></a>   
                        <%};%>
                    <%};%>
                <%};%>
            </div>
                <% if(page != Math.ceil(taille/limit) && taille != 0) {%>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <a href="/administrateur?page=<%=Number(page)+1%>&search=<%=search%>" class="btn btn-primary">></a>
                    </div>
                <%};%>
        </div>     
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

