<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Recrutement</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body class="vh-100 row">
  <%- include('partials/header.ejs', {boutonAccueil: false}) %>
  <div class="row m-0 vh-100">
    <% if (typeof type != 'undefined' || (typeof type != 'undefined' && type != candidat)) {%>
      <%- include('partials/navbar.ejs',{nav: 1,acceuil: true}) %>
    <%} else { %>
      <%- include('partials/navbar.ejs',{nav: 1}) %> 
    <% }; %>  
    <div class="col-11">
        <span><%=rythme%></span>
      <div class="container-block m-3 align-items-center border border-secondary row p-3" method="get" action="">
        <div class="col-9">
            <form method="get" action="">
                        <input type="hidden" name="tri" id="hiddenField" value=<%=tri%>>
                        <input type="hidden" name="rythme" id="hiddenField" value=<%=rythme%>>
                        <input type="hidden" name="teletravail" id="hiddenField" value=<%=teletravail%>>
                        <input type="hidden" name="nom_statut" id="hiddenField" value=<%=nom_statut%>>
                        <input type="hidden" name="nom_metier" id="hiddenField" value=<%=nom_metier%>>
                        <input type="hidden" name="salaire" id="hiddenField" value=<%=salaire%>>
                <input type="search" class="form-control" name="search" id="recherche" placeholder="Recherche">            </div>
            </form>
            <div class="dropdown col-2">
                <button type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Trié par</button>
                <div class="dropdown-menu">
                    <form method="get" action="/candidat">
                        <input type="hidden" name="search" id="hiddenField" value=<%=search%>>
                        <input type="hidden" name="rythme" id="hiddenField" value=<%=rythme%>>
                        <input type="hidden" name="teletravail" id="hiddenField" value=<%=teletravail%>>
                        <input type="hidden" name="nom_statut" id="hiddenField" value=<%=nom_statut%>>
                        <input type="hidden" name="nom_metier" id="hiddenField" value=<%=nom_metier%>>
                        <input type="hidden" name="salaire" id="hiddenField" value=<%=salaire%>>
                        <select class="form-control" name="tri">
                            <option value="date_validite" >date de validité</option>
                            <option value="min_salaire">salaire minimum</option>
                            <option value="max_salaire">salaire maximum</option>
                            <option value="rythme">nombre d'heures</option>
                            <option value="nom_metier">nom metier</option>
                            <option value="intitule" selected>intitule</option>
                        </select>
                        <button type="submit" class="btn btn-primary">rechercher</button>
                    </form>
                </div>
            </div>
            <div class="dropdown col-1">
                <button type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Filtres</button>
                <div class="dropdown-menu">
                    <form method="get" action="/candidat">
                        <input type="hidden" name="search" id="hiddenField" value=<%=search%>>
                        <input type="hidden" name="tri" id="hiddenField" value=<%=tri%>>
                        <label for="rythme" class="col-sm-3 col-form-label">Nb heures:</label>
                        <select class="form-control" name="rythme">
                            <option value="" >ne pas filter</option>
                            <option value="0a20" >de 0 à 20h</option>
                            <option value="20a30" >de 20 à 30h</option>
                            <option value="30a40" >de 30 à 40h</option>
                            <option value="40a1000" >40h et plus</option>
                        </select>
                        <label for="teletravail" class="col-sm-3 col-form-label">teletravail:</label>
                        <select class="form-control" name="teletravail">
                            <option value=-1 >peu importe</option>
                            <option value=0 >sans</option>
                            <option value=1 >avec</option>
                        </select>
                        <label for="nom_statut" class="col-sm-3 col-form-label">Nom statut :</label>
                        <select class="form-control" name="nom_statut">
                            <option value="">ne pas filtrer</option>
                            <% nom_statuts.forEach((statut)=> { %>
                            <option value="<%=statut.nom_activite%>"><%= statut.nom_activite%></option>
                            <%});%>
                        </select>
                        <label for="nom_metier" class="col-sm-3 col-form-label">Nom metier :</label>
                        <select class="form-control" name="nom_metier">
                            <option value="">ne pas filtrer</option>
                            <% nom_metiers.forEach((metier)=> { %>
                            <option value="<%=metier.nom_metier%>"><%=metier.nom_metier%></option>
                            <%});%>
                        </select>
                        <label for="salaire" class="col-sm-3 col-form-label">salaire:</label>
                        <select class="form-control" name="salaire">
                            <option value="" >ne pas filter</option>
                            <option value="0a1000" >entre 0 et 1000€</option>
                            <option value="1000a2000" >entre 1000€ et 2000€</option>
                            <option value="2000a3000" >entre 1000€ et 3000€</option>
                            <option value="3000a100000" >3000€ et plus</option>
                        </select>
                        <button type="submit" class="btn btn-primary">rechercher</button>
                    </form>
                </div>
            </div>
        </div>
      <%var offre, taille=offres.length;%>
      <%var limit=1;%>
      <% for (var i=(page-1)*limit; i < page*limit && i < taille; i++){ %>
          <%offre=offres[i]%>
        <div class="container-block border border-secondary m-3">
            
            <div class="container-block m-3 align-items-center row">
                <div class="col-10">
                    <span><%= offre.intitule%> chez <%=offre.nom%></span>
                </div>
                <div class="col-2">
                        <button class="btn btn-primary float-end rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=i%>" aria-expanded="false" aria-controls="collapseExample">Plus</button>
                </div>
            </div>

            <div class="collapse border-top border-secondary" id="collapseExample<%=i%>">
                <div class="container-block m-3 row">
                    <p class="w-75 col"><%= offre.nom_statut%> en <%=offre.nom_metier%></p>
                    <form id="form_inscription" class="" method="post" action="/candidat/PageOffre">
                      <input type="hidden" name="id_offre" id="hiddenField" value=<%= offre.id_offre%> >
                      <input type="hidden" name="sansCandidature" id="hiddenField" value=0>
                      <button class="btn btn-primary float-end col-2" type="submit">Aller sur la page de l'offre</button>
                    </form>
                </div>
                <div class="container-block m-3 row">
                    <p class="col">
                      <%= offre.rythme%>heures<% if(offre.teletravail==1) {%>, avec teletravail<%}else{%>, sans teletravail<%};%><br>
                      <%= offre.min_salaire%>~<%= offre.max_salaire%>€/mois<br>
                      <%= offre.indication%> dsisponible jusqu'au <%= moment(offre.date_validite).format('DD/MM/YYYY');%>
                    </p>
                    <% if(type == 'candidat') { %>
                    <form id="form_inscription" class="" method="post" action="/candidat/candidater">
                      <input type="hidden" name="id_offre" id="hiddenField" value=<%=offre.id_offre%>>
                      <button class="btn btn-primary float-end col-2" type="submit">Candidater</button>
                    </form>
                    <% }; %>
                </div>
            </div>

        </div>
        <% }; %>
        <div class="btn-toolbar position-absolute start-50 translate-middle-x" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
              <% if(page != 1 && taille!=0 && page<=taille) {%>
                  <a href="/candidat?page=<%=Number(page)-1%>&search=<%=search%>&tri=<%=tri%>&rythme=<%=rythme%>&teletravail=<%=teletravail%>&nom_statut=<%=nom_statut%>&nom_metier=<%=nom_metier%>&salaire=<%=salaire%>" class="btn btn-primary"><</a>
              <%};%>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Second group">
              <% for (i=page-2; (i <= Math.ceil(taille/limit) && i <= page+2);i++ ) {%>
                  <% if(i>0 && page<=taille) {%>
                      <% if(i==page) {%>
                          <a href="/candidat?page=<%=i%>&search=<%=search%>&tri=<%=tri%>&rythme=<%=rythme%>&teletravail=<%=teletravail%>&nom_statut=<%=nom_statut%>&nom_metier=<%=nom_metier%>&salaire=<%=salaire%>" class="btn btn-secondary"><%=i%></a>   
                      <%} else {%>
                          <a href="/candidat?page=<%=i%>&search=<%=search%>&tri=<%=tri%>&rythme=<%=rythme%>&teletravail=<%=teletravail%>&nom_statut=<%=nom_statut%>&nom_metier=<%=nom_metier%>&salaire=<%=salaire%>" class="btn btn-primary"><%=i%></a>   
                      <%};%>
                  <%};%>
              <%};%>
          </div>
              <% if(page != Math.ceil(taille/limit) && taille != 0 && page<=taille) {%>
                  <div class="btn-group" role="group" aria-label="Third group">
                      <a href="/candidat?page=<%=Number(page)+1%>&search=<%=search%>&tri=<%=tri%>&rythme=<%=rythme%>&teletravail=<%=teletravail%>&nom_statut=<%=nom_statut%>&nom_metier=<%=nom_metier%>&salaire=<%=salaire%>" class="btn btn-primary">></a>
                  </div>
              <%};%>
      </div>

        </div>   
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

