<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Recrutement</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body class="vh-100 row">
  <%- include('partials/header.ejs', {boutonAccueil: false}) %>
  <div class="row m-0 vh-100">
    <% if (typeof type != 'undefined' || (typeof type != 'undefined' && type != candidat)) {%>
      <%- include('partials/navbar.ejs',{nav: 1,acceuil: true}) %>
    <%} else { %>
      <%- include('partials/navbar.ejs',{nav: 1}) %> 
    <% }; %>  
    <div class="col-11">

      <form class="container-block m-3 align-items-center border border-secondary row p-3" method="get" action="">
        <div class="col-10">
            <input type="search" class="form-control" name="search" id="recherche" placeholder="Recherche">            </div>
            <div class="dropdown col-1">
                <button type="button" class="btn btn-secondary rounded-0 dropdown-toggle">Trier par</button>
            </div>
            <div class="dropdown col-1">
                <button type="button" class="btn btn-secondary rounded-0 dropdown-toggle">Filtres</button>
            </div>
      </form>
      <%var offre, taille=offres.length;%>
      <%var limit=2;%>
      <% for (var i=(page-1)*limit; i < page*limit && i < taille; i++){ %>
          <%offre=offres[i]%>
        <div class="container-block border border-secondary m-3">
            
            <div class="container-block m-3 align-items-center row">
                <div class="col-10">
                    <span><%= offre.intitule%> chez <%=offre.nom%></span>
                </div>
                <div class="col-2">
                        <button class="btn btn-primary float-end rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=i%>" aria-expanded="false" aria-controls="collapseExample">Plus</button>
                </div>
            </div>

            <div class="collapse border-top border-secondary" id="collapseExample<%=i%>">
                <div class="container-block m-3 row">
                    <p class="w-75 col"><%= offre.nom_statut%> en <%=offre.nom_metier%></p>
                    <form id="form_inscription" class="" method="post" action="/candidat/PageOffre">
                      <input type="hidden" name="id_offre" id="hiddenField" value=<%= offre.id_offre%> >
                      <input type="hidden" name="sansCandidature" id="hiddenField" value=0>
                      <button class="btn btn-primary float-end col-2" type="submit">Aller sur la page de l'offre</button>
                    </form>
                </div>
                <div class="container-block m-3 row">
                    <p class="col">
                      <%= offre.rythme%><br>
                      <%= offre.min_salaire%>~<%= offre.max_salaire%>€/mois<br>
                      <%= offre.indication%> dsisponible jusqu'au <%= moment(offre.date_validite).format('DD/MM/YYYY');%>
                    </p>
                    <% if(type == 'candidat') { %>
                    <form id="form_inscription" class="" method="post" action="/candidat/candidater">
                      <input type="hidden" name="id_offre" id="hiddenField" value=<%=offre.id_offre%> >
                      <button class="btn btn-primary float-end col-2" type="submit">Candidater</button>
                    </form>
                    <% }; %>
                </div>
            </div>

        </div>
        <% }; %>
        <div class="btn-toolbar position-absolute start-50 translate-middle-x" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
              <% if(page != 1 && taille!=0) {%>
                  <a href="/candidat?page=<%=Number(page)-1%>&search=<%=search%>" class="btn btn-primary"><</a>
              <%};%>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Second group">
              <% for (i=page-2; (i <= Math.ceil(taille/limit) && i <= page+2);i++ ) {%>
                  <% if(i>0) {%>
                      <% if(i==page) {%>
                          <a href="/candidat?page=<%=i%>&search=<%=search%>" class="btn btn-secondary"><%=i%></a>   
                      <%} else {%>
                          <a href="/candidat?page=<%=i%>&search=<%=search%>" class="btn btn-primary"><%=i%></a>   
                      <%};%>
                  <%};%>
              <%};%>
          </div>
              <% if(page != Math.ceil(taille/limit) && taille != 0) {%>
                  <div class="btn-group" role="group" aria-label="Third group">
                      <a href="/candidat?page=<%=Number(page)+1%>&search=<%=search%>" class="btn btn-primary">></a>
                  </div>
              <%};%>
      </div>

        </div>   
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

