<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Recrutement</title>
    <meta name="description" content="">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="stylesheets/main.css" rel="stylesheet">
</head>
<%console.log("test")%>
<% 
let etat=""
let date_validite=""
let indication=""
let intitule=""
let lieu=""
let description=""
let rythme=""
let teletravail=""
let nom_metier=""
let nom_statut=""
let min_salaire=""
let max_salaire=""

if (offres) {
    etat=offre.etat
    date_validite=offre.date_validite
    indication=offre.indication
    intitule=offre.intitule
    lieu=offre.lieu
    description=offre.description
    rythme=offre.rythme
    teletravail=offre.teletravail
    nom_metier=offre.nom_metier
    nom_statut=offre.nom_statut
    min_salaire=offre.min_salaire
    max_salaire=offre.max_salaire
};%>
<body class="vh-100 row">
    <%- include('partials/header.ejs', {boutonAccueil: true}) %>
  <div class="row m-0 vh-100">
    <%- include('partials/navbar.ejs', {nav: 0}) %>
    <div class="col-11 p-0">
        <div class="container-block border border-secondary m-3">
            <div class="container-block ">
                <form class="m-3 align-items-center row" method="post" action="/recruteur/ajouterOffre">
                    <div class="col-10">
                        <div class="row">
                            <label for="etat" class="col-sm-3 col-form-label">Etat :</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="etat">
                                    <option value="">--- Etat de l'offre ---</option>
                                    <option value="Publiee"<% if(etat == 'Publiee') { %> selected <% } %> >Publiee</option>
                                    <option value="Non Publiee"<% if(etat == 'Non Publiee') { %> selected <% } %> >Non Publiee</option>
                                    <option value="Expiree"<% if(etat == 'Expiree') { %> selected <% } %> >Expiree</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="date_validite" class="col-sm-3 col-form-label">date de validite :</label>
                            <div class="col-sm-9">
                                <input required type="date" class="form-control" name="date_validite" value="<%= date_validite%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="indication" class="col-sm-3 col-form-label">indication :</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="indication">
                                    <option value="">--- Documents nécessaires ---</option>
                                    <option value="CV"<% if(indication == 'CV') { %> selected <% } %> >CV</option>
                                    <option value="lettre de motivation"<% if(indication == 'lettre de motivation') { %> selected <% } %> >lettre de motivation</option>
                                    <option value="CV et lettre de motivation"<% if(indication == 'CV et lettre de motivation') { %> selected <% } %> >CV et lettre de motivation</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="intitule" class="col-sm-3 col-form-label">intitule :</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="intitule" value="<%= intitule%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="lieu" class="col-sm-3 col-form-label">lieu :</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="lieu" value="<%=lieu%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="description" class="col-sm-3 col-form-label">description :</label>
                            <div class="col-sm-9">
                                <input required  type="text" class="form-control" name="description" value="<%=description%>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="rythme" class="col-sm-3 col-form-label">nombre d'heures :</label>
                            <div class="col-sm-9">
                                <input required type="number" min="0" max="60" class="form-control" name="rythme" value="<%= rythme%>">
                            </div>
                        </div>
                        <div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" >Teletravail :</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="teletravail" value="1" <% if (teletravail == 1) {%>checked<%}%> >
                                <label class="form-check-label" >Oui</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="teletravail" value="0" <% if (teletravail != 1) {%>checked<%}%> >
                                <label class="form-check-label" >Non</label>
                            </div>
                            <div class="row">
                                <label for="nom_metier" class="col-sm-3 col-form-label">Nom metier :</label>
                                <div class="col-sm-9">
                                    <select required class="form-control" name="nom_metier">
                                        <option value="">--- nom métier ---</option>
                                        <%nom_metiers.forEach((metier)=> { %>
                                        <option value="<%=metier.nom_metier%>"<% if(metier.nom_metier == nom_metier) { %> selected <% } %>><%= metier.nom_metier%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="nom_statut" class="col-sm-3 col-form-label">Nom statut :</label>
                                <div class="col-sm-9">
                                    <select required class="form-control" name="nom_statut">
                                        <option value="">--- statut d'activité ---</option>
                                        <% nom_statuts.forEach((statut)=> { %>
                                        <option value="<%=statut.nom_activite%>"<% if(statut.nom_activite == nom_statut) { %> selected <% } %> ><%= statut.nom_activite%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="min_salaire" class="col-sm-3 col-form-label">salaire minimum :</label>
                                <div class="col-sm-9">
                                    <input required type="number" min="0" class="form-control" name="min_salaire" value="<%= min_salaire%>">
                                </div>
                            </div>
                            <div class="row">
                                <label for="max_salaire" class="col-sm-3 col-form-label">salaire maximum :</label>
                                <div class="col-sm-9">
                                    <input required type="number" min="0" class="form-control" name="max_salaire" value="<%= max_salaire%>">
                                </div>
                            </div>
                            
                            <div class="p-3">
                                <button type="submit" class="btn btn-primary active rounded-1 ">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </form>   
            </div>
        </div>   
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

